NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_PROJECT_ID=k3ujyy6r
NEXT_PUBLIC_SANITY_STUDIO_TITLE=Husain Portfolio
NEXT_PUBLIC_SANITY_STUDIO_URL=http://localhost:3333

GITHUB_USERNAME=husain3012
GITHUB_TOKEN=your_github_token

LEETCODE_USERNAME=husain3012

LASTFM_API_KEY=your_lastfm_api_key
LASTFM_USERNAME=your_lastfm_username

STEAM_API_KEY=your_steam_web_api_key
STEAM_ID=your_steam_profile_id_or_steamid64